<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authorName }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <title>{{ title or site.title }}</title>
  <link href="/css/style.css" rel="stylesheet">
  <meta name="description" content="{{ description or site.description }}">
  <link rel="icon" href="{{ site.favicon }}" type="image/png" />


  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  

<link href="/css/music.css" rel="stylesheet">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

</head>
  <body>
      {{ content | safe }}
    <!-- Current page: {{ page.url | url }} -->

    <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0-alpha.1/es5/tex-mml-chtml.js"></script>
  </body>
</html>