---
layout: layouts/base.njk
---
<article class="max-w-[1440px] mx-auto xl:grid grid-cols-[1000px_1fr] gap-x-4">

    <div class="mx-auto md:w-[560px] mt-20 max-md:px-4 w-full">
        <div class=" mr-0 ml-auto w-fit text-[15px] mb-4"><a href="/" >ホーム</a></div>
            {{ content | safe }}

        <div class=" mr-0 ml-auto w-fit text-[15px] mb-4 flex gap-2">
        <a href={{previous}}>前へ</a>
        <a href="/">ホーム</a>
        <a href={{next}}>次へ</a>
        </div>
    </div>
    <div class="h-[99.5vh]">
        <div class="w-fit mx-auto mt-20 fixed">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/tKbyxpsKbSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</article>
<style>
body {
    font-family: 'Inter', sans-serif;
    color  : #1b1b1b ;
}

p {
    line-height : 28px;
    padding-top: 16px;
}

ul {
  list-style: outside disc;
  padding-left : 16px;
  line-height : 28px;
  padding-top : 4px;
}

ol {
    list-style: outside decimal;
    padding-left : 19px;
    line-height : 28px;
    padding-top: 4px;
}

h2 {
    margin-top : 48px;
}

h2 + p {
  padding-top: 12px;
}

a {
    color: #4371ba;
    padding-bottom: 1px;
    border-bottom: 1px solid;
}
</style>