---
layout: layouts/base.njk
---


<article class="max-w-[1440px] mx-auto">
        <div class="max-w-[560px] my-20 mx-auto max-sm:px-3" id="grid-560px">
        <div> 
                {{ content | safe }}
        </div>
        </div>
</article>
