---
layout: layouts/base.njk
---
<link href="/css/post.css" rel="stylesheet">

<div class="flex menu -top-14 shadow-lg xl:hidden z-50" id="fixed-menu">
        <img src="/img/menu.png" width="35px" height="35px" alt="" srcset="" class="py-2 ml-2" id="openSide">
        <a href="/"><img src="/img/alien.png" width="35px" height="35px" alt="" srcset="" class="py-2 ml-2"></a>
</div>


<div class="fixed w-[300px] max-w-[90%] text-gray-900 border-[1px]  h-screen bg-white right-300px z-50" id="side-menu">
        <div class="mx-auto border-b-[1px] text-center py-2">Outline</div>
        <div class="js-toc sticky top-[7.5rem] overflow-y-scroll">
        </div>
</div>
<article class="max-w-[1440px] mx-auto" id="article">
        <div class="max-w-[560px] pt-6 mx-auto max-sm:px-3 js-toc-content pb-8" id="grid-560px">
                <img src="/img/alien.png" width="60px" alt="" srcset="" class="mb-20">

                {% if title %}
                <h1> {{title}}</h1>
                {% elif not skip %}
                <h1> {{ page.fileSlug }} </h1>
                {% endif %}


                <div class="max-xl:pb-4 text-gray-600 text-[14px] leading-[26px] ">
                    {% if created %}
                    <div class="text-right" style="font-family : sans-serif"> <span>作成:</span> {{created | htmlDateString }} </div>
                    {% endif %}
                    <div class="text-right" style="font-family : sans-serif"> <span>更新:</span> {{page.date | htmlDateString }} </div>
                </div>    
                {{ content | safe }}

                <div class="mt-12">
                    <a href="/" class="mr-2">ホーム</a>
                    <a href="/about">このサイトについて</a>
                </div>
        </div>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
        tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
        });
</script>

<style>

.js-toc{
    height : calc(100vh - 41px);
}
</style>
<script>

let onlytouch; 
let openSidebar=false;

if(screen.width < 1280) {
        document.getElementById("article").addEventListener('touchstart', (ev)=>{
    onlytouch = true
}, {passive: true});

document.getElementById("article").addEventListener('touchmove', (ev)=>{
    onlytouch = false
}, {passive: true});

document.getElementById("article").addEventListener('touchend',(ev)=>{
    if(onlytouch){
        if(ev.target.tagName == "A"){return}
        else if(openSidebar){
            document.getElementById("side-menu").classList.toggle("right-0");
            document.getElementById("side-menu").classList.toggle("right-300px");
            document.getElementById("fixed-menu").classList.toggle("top-0");
            document.getElementById("fixed-menu").classList.toggle("-top-14");
            if(openSidebar){openSidebar=false}else{openSidebar=true}

        }
        else{
            document.getElementById("fixed-menu").classList.toggle("top-0");
            document.getElementById("fixed-menu").classList.toggle("-top-14");
        }
        //document.getElementById("fixed-menu").style.top = "0px";
        
    }
}, {passive: true});

document.getElementById("openSide").addEventListener("click",(ev)=>{
    document.getElementById("side-menu").classList.toggle("right-0");
    document.getElementById("side-menu").classList.toggle("right-300px");
    if(openSidebar){openSidebar=false}else{openSidebar=true}
})


}

</script>