---
layout: layouts/AA.njk
series : 0から理解するコンピュータ
title : ch1. ピンポンゲームの作り方から始めよう
---


<pre class="aahub AA w-fit md:hidden mb-8">
{{AA["computer_mobile"]}}
</pre>
<pre class="aahub  text-base leading-[18px] w-fit mt-4 relative max-md:hidden">
{{AA["computer_pc"]}}
</pre>

{% for p in page %}
{% include "AA.njk" %}
{% endfor %}
