---
layout: layouts/chapter.njk
Subdivision: Tips
Title: ガイドの読み方
Previous: /chapter0/
Next: /
tags: post
---

{% section "1",'イントロ',""%}
<div class="lg:mt-4 mt-2 ">
    <p>
        Chapter0でガイドの目的を理解したところで，ここではガイドの読み方を理解しましょう．
        すなわち，ガイドに書かれたことを正しく理解するための方法論をここでは扱います．
    </p>

    <p>
        これは「ガイドに書かれたこと」とは何かを考えればわかります．
    </p>
</div>
{% endsection%}

{% section "2",'イントロ',""%}
<div class="lg:mt-4 mt-2 ">


        「ガイドに書かれたこと」とは世界をコントロールする方法ではないのか，と思ったヒトは大正解です．
        ですが，ここでは，世界をコントロールする方法がもっと一般的にどんな種類の知識なのかを考えたいのです．

        結論から言うと，それは宣言的知識であるということになります．

        宣言的知識とは，AはBであるとか，もしAならばBであるとか，そういう文のことです．
        例えば「鉄は水よりも密度が大きい」とか「もし雨が降るならば地面が濡れる」とかです．
        
        このような知識の重要な特徴は，言葉で理解ができれば，それで十分だということです．

        このことは，宣言的知識でない例，つまり，言葉でわかっても，十分でない例を，いくつかみることで明確になるでしょう．
        そこで宣言的知識でないものをいくつか挙げます．

        <div>
            例1 自転車の乗り方<br>
            自転車の乗り方の方法を本で読んで，自転車を乗る時の体の動作を言葉で理解したとしたとしましょう．
            しかし，そのとおりに体は必ずしも動かせません．
            [image :  その例の図]
            つまり，言語化できても，自転車の乗り方が分かっているとか，自転車乗りが実行ができる，とは言えません．
        </div>
        
        一般的に身体の動かし方は宣言的知識ではありません．
        体をどう動かせばよいかを言葉で完全に表せたからといって，そのとおりに体を動かせるわけではないからです．
        名コーチが名選手ではないことからもわかるでしょう．

        <div>
            例2 飛行機恐怖症の克服の方法<br>
            飛行機で事故にあう確率は車よりもずっと低いことから，飛行機に乗ることを恐れる必要は全くないと言葉で理解できたからといって，飛行機に乗る恐怖をなくせるわけではありません．
        </div>

        この例からわかるように，一般的に感情の制御は宣言的知識ではありません．
        言葉によって，その感情が起きる，もしくは起きないはずだという合理的な理由を表現できたとしても，
        その感情の制御が実行可能だとは限りません．

        (このことは言葉と感情が無関係であることを意味しない．むしろ多くの場合は言葉によって感情は影響されている．しかし<strong>必ず</strong>影響されるわけではない．) 

        <div>
            例3 悟りの方法<br>
            悟っている人が，なぜそのような境地に至ったのかを完全に言語化しても，それを聞いた人が直ちに悟れるわけでありません．
            この世はまやかしであると言語化した男が，次の瞬間に美女の誘惑に耐えられないことがあり得るでしょう．
        </div>

        このように，宣言的知識でないものは，言葉で理解できても，(本当の意味で)理解したり実行したりすることはできないことがあります．
        
        
        一方，宣言的知識は，言葉での理解ができれば，ほんとうの意味で理解しているといえ，それ以上のことはありません．
        これもいくつか例を見ることにしましょう．


                <div>
            例1 連立一次方程式の解き方<br>
            連立一次方程式を解く方法を完全に言葉に表せているのに，それでも理解していないとか，実際に解くことができない，ということはありえない．
        </div>
        <div>
            例2 毎秒1000件のアクセスに耐えられるSNSのサーバーの構築の仕方<br>
            マニュアルとして構築する方法が1から100まで書かれたものがあるとしよう．
            その手順のとおりに体を動かしていくことは難しくないので，最後の手順が終わったときにはサーバーが出来上がっている．
        </div>
        <div>
            [TODO 検証のしようがない曖昧な宣言的知識の例]
            [TODO 検証できる明晰な宣言的知識の例]
        </div>

        これらの例からわかるように，宣言的知識は，言葉で理解ができれば，それが本当の理解です．つまり，それだけで理解・実行・検証が可能です．
        そして，ガイドで学ぶ「我々ヒトの欲望のために世界をコントロールする方法」もすべて宣言的知識です．

        であれば，我々がガイドを理解するために必要なのは，それを言葉で理解することだけで十分なのです．
</div>
{% endsection%}

{% section "2",'イントロ',""%}
<div class="lg:mt-4 mt-2 ">
        
        ガイドは，「」のような宣言的知識の集まりであることがわかりました．
        そこで，まずはこのような文に注目して，これを理解することを試みましょう．
        ガイドは文の集まりなので，ガイドを構成する要素の理解の方法から考えるということになります．
        
        文を言葉で理解するために最も重要なプロセスは，その意味をはっきりとさせることです．
        例えば「」という文は，　　　なのかはっきりしません．
        その結果，「」に同意できるかどうかがわからないということになります．
        同様に，　　
        その結果，「」が正しいかどうかははっきりわからない．
        つまり，意味がはっきりしなければ，その文に関して白黒つけることはできないのです．

        そこで，それが何を言っているのかをはっきりさせ，白黒つけられるようにすることを，明晰にするということにしましょう．
        明晰でないことの最も悪い点は，，理解がありえないということです．なぜなら，その文が実際に何を意味しているのかはっきりしないからです．
        
        これは明晰でないことは間違っていることを意味しないことに注意しましょう．
        例えば「X」と考えを言語化したとしましょう．
        この考えは誤っていますが，意味するところははっきりしています．つまり明晰です．
        これによって，「Xは間違っている」ということを理解できます．
        つまり，誤りは正しい理解に通じています．

        一方明晰でないことは間違ってもいません．そもそも何を言っているのか分からないことので，間違ってすらいません．
        正誤の以前の問題なのです．
        あってるとか，間違っているとか，とにかく理解することが1つもありません．
        この帰結として，知的成長がありません．間違っていることがわかれば，思考・行動を変えて，正しくあろうとできますが，　　からです．


        実はchapter0でやったのは，我々の欲望を宣言的知識として扱うために明晰化することだったのです．
        

        明晰になっているかどうかの1つの基準は，白黒つける方法がわかっているかどうかです．
        つまり「もし〇〇だったら，これは白(黒)」という

        例えば同意できるかどうかをきっぱり決められるか．
        例えば，「」という文に私は同意できません．
        「」ということなのか，「」ということなのか，わからないからです．
        だからこの条件を追加して
        「」ということなのであれば，同意できます．
        
        例えば正しいかどうかをきっぱり決められるか．


        その際には，黒になる可能性を常に持っていなければ，有用性がありません．
        例えば，　　

        「ほらね，やっぱりそうだと思った．」という発言が，我々を苛立たせるのは，それはどんな世界に対しても正しくあろうとする点で
        有用性がない発言なのにも関わらず，また，責任も取らなくていい．責任もないし，有用性もない　自分の何らかの能力を発揮していると思いこんでいる様子が
        その発言が何らかの有用性があるかのように，またその何の有用性もない発言から
        しかしトートロジーは有用．ここでは世界についての文なのに，常に真であろうとする文を否定している．

        どんな状況に対しても，「ほらね，やっぱり人間は愚かだね」といえるのです．

        
        少なくとも「人間は愚かである」を
        宣言的知識は，世界と照らし合わせることで，
        真偽をつけることができると合意が得られるようにするのが明晰にすること．
        原理1 文の意味をはっきりさせよう　宣言的知識という文の集まりなので
        原理2 文通しの関係を理解しよう　第一原理と階層構造　文の集まりという時にそこには構造がある　構造は文の繋がりによってできる　根本が第一原理でこの文が最も重要
        原理3 モチベーションを理解しよう　なぜ理解しようとするのか？そもそも第一原理の説明でも意義について述べていた
        原理4 直観的理解　言語ではっきりしてもしっくりこないときは
        原理5 適応できる問題を見つけて，それを解く それはモチベーションでもあるし，この原理に限定する部分でいうと能動的に理解するという点で．


</div>
{% endsection%}{% section "2",'イントロ',""%}
<div class="lg:mt-4 mt-2 ">
</div>
{% endsection%}