<div class="lg:mt-4 mt-2">

    Github
    ガイドはすべて無料で公開している．
    もし読んで，ここが間違っていて残念だ！という人がいたら，issueで教えてほしい．

    Twitter
    ブログや僕個人のツイートも含まれるので，純粋に記事のお知らせだけを知りたい人はRSSを登録してほしい．

    RSS
    エイリアンズガイドTO世界が更新されたらRSSを送る．

    Gmail
    何かあれば．文章の修正はGithubの方に送ってほしい．

    ブログ
    明晰でない文章の集まり

    原理を理解するための美しい語り口の文(参考文献は各ユニットの最後に載せている)


        原理を実践する具体例　しかしこれらは断片的なのですべてをつなぎ合わせることを"ガイド"の目的とした
        内容自体ではなく原理を実行した構成になっているかを考えている

        youtube channel 構成と直観的理解と視覚化
        ・3blue1brown　線形代数(直観的)
        ・CGP grey 政治の腐敗(構成)

        blog　視覚化
        ・bret vicor
        ・https://explorabl.es/
        ・https://quantum.country/qcvc


        本 明晰さ第一原理
        ・共生の作法(明晰)
        ・語りえぬものを語る(明晰)
        ・幾何学の公理ヒルベルト(明晰)
        ・清水　量子論の基礎(明晰)
        ・エネルギーの人類史(第一原理)
        ・イラストで読む旧約聖書,新約聖書(視覚化)

        その他
        ・https://concours.toshokan.or.jp/wp-content/uploads/contest-data/240003/#p=51

</div>