---
layout: layouts/chapter.njk
Subdivision: Tips
Title: 理解の方法
permalink: /metatips/
Previous: /chapter0/
Next: /
tags: post
---


{% section "10",'"理解する"以外の活動',""%}

        理解するということにフォーカスを当ててきた．
        理解するという活動は，
        記憶を長期に保持するという活動とも違う．(理解しても忘れるので)
        何かを思いつくという活動とも違う．(問題への回答が適切であることを理解できても，それを自分で思いつけるわけではないので)
        さらに両方とも言語化したからできるものではない，言語化すれば(宣言的知識を)理解できるが，覚えられたり思いついたりできるわけではない．
        これらについては，理解の方法ほどベストプラクティスが確立されているとはいえないが，色々な実験で効果があると主張されているものは存在する．

        理解して，それを適応するだけでも，現在の文明は維持できるかもしれない(もしくは現状維持は今の制度が許さないかもしれない)が，それはつまらない．
        が，理解なしの長期記憶とか，理解なしの発想ということもありえない．

        そこでまずは理解することを述べた．
        "ガイド"の内容も世界のコントロールの方法を理解する，であり，方法を思いつく，とか覚えることを主目的にはしていない．
        しかし"ガイド"で理解したことは覚えていたいと思うし，できれば新たなコントロールの方法を思いつきたいとも思うだろう．


        また，そもそも"ガイド"を読む活力を維持するような生活を送りたいとも思う．
        理解し，覚え，思いつく，という知的活動を送るためには，それを遅れるだけの基礎体力が必要．
        しかし，生活の方法については，さらに持論になってしまう．
        生物的なニーズを満たすこと．依存症にならないこと，外的な刺激をおさえること．
        ホメオスタシスを考えれば，体力を温存するほど体力はなくなるし，欲望をみたすほど，満足しなくなる．
        1年間寝ていれば，以降の1年は寝なくていいほど元気になるとは誰も思わない．むしろ1年寝れば，以降も寝たきりになる確率が高まる
        ポッキーを10本たべて得られる快楽Aは，1本目のポッキーで得られる快楽Bの10倍よりもずっと小さい．


        [image: 理解，記憶，活動の関係を表したいい感じの図？]

        いわゆる学習法とかいうときには，理解と長期記憶と発想が混在していることがあるが，ここでは明確にこれらを区別して書くことにする．もちろんこれらは独立ではないが．
        そのような理解に付随するメタ事項を次に扱うことにしよう．

{% endsection%}


{% section "記憶する必要性と方法",""%}

    ・なぜ　なにをの問い
    なぜ長期記憶が必要なのか？
    必要になったら，調べればすむのではないか？それはそう．しかし，仮に全てをある程度の月日が経つと忘れてしまう場合，また理解し直す必要が出てくる．
    それは効率が悪い．
    だからより適切な問いは「何を長期記憶する必要があるのか」一番は第一原理，
    そしてそこから様々な事項が導かれる論理の筋道や，モチベーションも覚える．ストーリー・流れとして．
    そうすれば，新しい事項の理解についても，あれと同じだと思える．
    というのもchapter1でやるように，よく使う論理はそれほど多くないし，完全に新しいことというのはあまりなく，既存の変形・組み合わせだから．
    つまり，学習効率が飛躍的に伸びる．
    量が増えれば覚えにくくなるということはない．むしろ，大量の意味あることを覚えるほうが無意味なことを少量覚えるよりも容易い．
    
    

    ・どうやっての問い
    科学的には[TODO evidnceは？]
        spaced repetition　と 問題を解くこと
    が重要

    どちらもAnkiなどのソフトで行える

    意味のないことを全く覚えずにいるということは難しい．例えば元素の名前に理屈はない．
    どうしても覚えなければならない制度的事項はある．それはニーモニック+視覚化で1つにする．しかし，理解できることを理解せずに
    ニーモニックを使うのはだめ　
    本質的には覚える量を減らすこと，その意味では階層構造を把握して，横並びにたくさんある状態を防ぐのは重要(並列に9こあるより，3つに3つが所属するほうが覚えやすい)
    <img src="/img/periodic1.webp" alt="" srcset="">
    このような意味のないことを覚えるテクニックは記憶力大会に詳しい．

    

    

{% endsection%}

{% section "発想の方法",""%}
    発想は理解とは違う．
    答えを見て，その答えが正しいことを
    暗号の場合と似ている．順問題は容易だが，逆問題は困難
    つまり理解するというのはある意味簡単なことなのである．せいぜい論理的に思考できて，ヒトの原始的な欲望がわかればモチベーションもわかるので世界理解はできる．
    しかし新たな理解を付け加えるということになると，これは逆問題であり，一般には難しい．

    そこで，明晰にこれをすればいいということは欠けないし，書いたとしてもそれで発想ができるようになるわけではない．発想の方法は宣言的知識ではないので．
    
    一般に流布していて，正しいのではないかと思うようなことを箇条書きで書く．
    これらは正しいことが立証されたわけでもない(そもそも発想はそういうものではないし)
    
    新しいアイデアは既存のものの変形・組み合わせである
    そして，既存のものというときにはそれそのものというよりも，核となる部分，本質，原理的な部分が重要．

    それゆえ，原理的な部分を長期記憶することは理解のためにと言うよりも，発想(自分でもできる)のために必要なこと．
    いろいろな解決パターンを覚えることで，新しい解決パターンを生み出せるし，
    明晰な論理の流れの実例をもろもろ覚えることで，自分でも明晰な論理を使えるようになる．
    覚えることなしには，自分でできるようにはならない．
    だからといって，もちろん，理解なしの記憶はありえないし，理解なしの記憶は発想には繋がらない．
    根本には理解があって，それを覚えて，そしたら自分でもできる．


{% endsection%}

{% section "学習を継続するための生活の方法",""%}

    ・睡眠をとる
        統計的には行動療法がもっとも効果的である
        これをベースにしつつ，少し乱れたときにはメラトニンを使って，それ以外のいわゆる「睡眠薬」は使うべきでない

    ・運動する
        [TODO なにかエビデンスありゅ？]

    ・食事
        科学的にわかっていることは少ない．がバランス良く．

    ・社会性をみたす
        孤独にならない　適度な(原始的な)コミュニケーション　理解されなくてもいい(高度である必要はない)
        だから自分のことなんて誰も理解してくれない，としょげる必要はない，理解して貰う必要がないので
        犬同士が遊ぶような気持ちでコミュニケーションをとろう
    
    ・休息を取る
        憂鬱は凪いだ情熱とあるように，休みはとりましょう．

    ・依存症にならない
        依存症には物質依存と行動依存がある．これらの対策は同じ．？多分
        物質依存の話ではない．(もちろん食事をたくさんとってしまったり，酒・タバコの依存症の場合もあるだろうが)
        SNSやゲームやポルノ(じみへん)やギャンブルの依存症．


    そのために規則性を活用することにつきる(睡眠の行動療法もこれに当てはまる)
    ・律することの必要性の自覚=欲望のままに動かされては何もできない
    ・実際に律する　感情ではなく行動で律する　なぜなら行動は言語化したものを守ればいいが，感情は言語化したものを守れないから 長く続ければ続けるほど苦労はなくなる
    ・誰かとやる，アプリを使うなど律する具体的な方法を
    ・僕の夢は(理性的な僕が設定した)機械に行動を支配されながら，やりたいことをやることです．

{% endsection%}