---
layout: layouts/chapter.njk
Subdivision: Tips
Title: なぜ/なにを/どのように/誰が "ガイド"を書いたか
permalink: /metabooks/
Previous: /chapter0/
Next: /
tags: post
---

<div class="lg:mt-4 mt-2">
    "ガイド"を読むための準備は，前までですでに完了しているので，chapter1に移ってほしい．

    以下は，内容に明晰さを欠くポエムに近く，さらにある程度の知識や共有する文脈がなければ理解できない．
    しかしあまり，そのようなことは考慮に入れずに書く．
    まずは，chapter1に進んで"ガイド"の内容自体を評価してほしい．

    このページでは，"ガイド"のメタ情報，すなわち，なぜ/なにを/どのように/誰がガイドを書いたのかということについて述べる．
    4つに分けて語りたいところだが，これらは綿密に結びついている．

    ・理解する楽しさについて
        大学時代に気づいたこと　私は何が好きなのか = モチベーションをもって世界を理解することである
        なぜ面白くないのか？なぜ世界を理解できていなかったのか？
            教育は世界の理解を教えるだけでなく，シグナリングと倫理の役割を与えられている．この3者の混在が問題である
        世界を理解することにどんな意義があるのか？
            エンターテイメントとしての面白さ　
            理解すること自体が娯楽である．すでに知っていることであっても，切り口を変えて再構成すれば面白くなる．それはほとんど同じ話のドラマを見続けるヒトのようなものである．
        どんなふうに書いたか
            統一体として世界を理解するように　断片的にしないで現代文明のエッセンスの0から100までを目指す
            無料でアクセスできるように
    ・技術的な話
</div>

{% section "","明晰に理解する楽しさについて",""%}

    大学時代1,2年生の頃，大学受験で疲れた僕は，せっかく大学に入ったのに勉強なんてしたくないと思った．
    教科書をいくつか買うことはあったが，どれを読んでも高校生の頃の延長に思えてうんざりした．

    大学高学年になっても，やりたいことは特に見つからず，専攻とは関係ないことを勉強したりしながら時間を潰していた．
    
        一つには，自分は専攻に間違えただけで，やりたいことがみつかれば，それに打ち込めるだろう，という希望があったからだ．
        本を読んだり，youtubeのeducational channelを見ていたりすると，これが自分のやりたかったことかもしれない，
        という知的興奮を覚えることが何度もあったが，1,2ヶ月もすれば，必ず飽きてしまった．
        しかし，そのような知的興奮自体は面白さがあったので，飽きると別の分野の勉強を面白そうな本を探してするのだった．

        そして，それとは別に，世界について知りたいという欲望があったからだ．
        僕は受験勉強をそこそこ一生懸命やったが，大学時代に株式投資をやろうとして，いかに世界がどう動いているか，について知らないかを実感した．
        それは世界を知るという目的のために，学校での勉強が役に立たないということではなく，
        世界を知るという目的を達成するために，学校での勉強の内容が組織化されていないので，
        世界を知るという目的のためには，それをどう使うのかを，すでに学んだことではあるが，別の角度から学び直さなくてはならないということに気づいた．
    

    そうして，時が過ぎて，なんとなく働き始めたが，労働というものに意味を見いだせない．
    
    そこで，あの素晴らしい知的興奮は何だったのだろう，と思い返した．
    それはある特定の分野についての興味から生まれたものだったのかと．
    答えはNOで，僕が興奮したのは，内容そのものではなく，それがどう語られていたかということだったのだ．
    すなわち，構成のうまさ，文の明晰さ，登場人物によるすぐれた議論，視覚化による直観的理解など，
    どんな内容であっても，うまい書き手がいれば，それは理解するのがエキサイティングなものになるだった．

    もちろん，内容で気にいったのは，それが世界を知ることに繋がるようなもののときだ．
        とはいえ，大抵のうまい本は，一見我々の世界と全然関係ない，どうでもいいような話に見えるものでも，見方を変えれば，
        我々の世界に大きな影響を与えているのだ，ということを書いていたが．
    
    しかし不満もあった．

        そして，何かを読んだり，見ているときに，ほとんど必ず「もし自分だったらこうするのに」と思っていた．
        こういう構成にすれば，もっと読みやすいしモチベーションも最初にわかるのに，とか，この文は書き手も自分で何が言いたいのかわかってないな，とか，
        なんで，この図はこっちのアングルから書かないのだろう，とか．

        もう一つは，世界について断片的に語る名著は数多いが，統一的に0からはじめて，すべてがつながって理解できるようなものはないという不満があった．
        世界の全体像について知ろうと思ったら，
            1.うまく選んでも既存の本を読むなら比較的膨大な本を読まなくてはいけない．お金も時間もかかる．
            2.そもそも沢山の本が出版されているなかで，そのなかから価値のある本を探すのは難しい．慣れていないと適切な本を見つけられない．探す労力が凄まじい．
        

    ここまでくれば，自分で書いてみようということになる．
    何を？　世界の全体像について知れる本を
    どうやって？　最も良い語り方で

    ということで，エイリアンズガイドTO世界を書くことにした．

    これを興奮しながら読んでくれることが，僕にとって一番嬉しいことだ．

    そのタイトルの由来はガイドTO世界のほうは，そのまま世界へのガイドということで．

    エイリアンズの方は，
    1 宇宙人としてのヒトのためのガイドという意味
    2 疎外(alienated)されている人が書いた，また，そのような人々のためのガイドという意味
    という意味が込められている．

    また，一見自分が知っているものを別の角度から
    僕個人としては，語りさえ1流なら，どんな分野の話であっても楽しく読める自信があったが，他の人にとってはそうではないだろうし，
    書くべきものもあるような気がしていた．

    そもそも，大学1,2年生の頃に買った教科書がつまらなかったり，高校生までの教科書がつまらない
    
    と今でも思っているのに，
    その一方で，内容としては同じようなものを扱っている本を読めるのはなぜなのか不思議だった．
    

    私は大学生の頃学習塾でバイトしていたが，同じことを何度も根気強く説明することで，理解してもらえた喜び，のようなものを感じたことはあまりなかった．
    それよりも，世界についての理解を，良い構成，良い文にまとめて，それを読めるヒトに読んで，面白い本だと思ってもらえることが．


{% endsection%}

{% section "","どうして教科書・参考書はつまらないのか",""%}


    教科書・参考書は，ありきたりの構成のものは，事典として以外で，もはや読もうとは思わない．
    教育は世界をコントロールするための要素になることを教えてはいる．
    が，教育には，もう一つシグナリングという役割がある．
    だから，教育で教える内容は選抜のために機能する必要があるし，選抜のために使われる内容が最も重要視される．
    前者からも後者からも，教育で実際に我々が学ぶ内容が制限される．
    選抜で使えないものは教わらないし，教わっても学ぼうとはしない．
    選抜だけで考えれば無意味だからだ．
    選抜のために最も効率よく時間を使うためには，世界について知るためという余計な文脈を断ち切って，受験パズルの解き方パターンをひたすらに習得することだ．
    しかし，それは実際の世界という文脈では語られないので，その知識は世界を知るために使いたければ，改めてその角度から学び直す必要がある．
    その意味で，無駄ではないが，切り口が悪い(受験に勝ち抜いていい大学に入って就職して，などの本質的でない人間的な要素にしか訴えかけることができていないため)
    のでつまらない．パズルをいくら解いても，我々の生とは無関係に思える．
    
    本当は教育からシグナリングの役割を分離できれば，ベストだと思うが，
    知的パズルで選抜するという仕組みに変わる良い仕組みは現状ないので，教育からシグナリングの役割を剥ぎ取ることは難しい．


    もう一つの教育が負っている役割は倫理である．
    この結果モチベーションとして，[TODO いけないけど魅力的なモチベーション]のようなものはふさわしくないとされる．
    しかし，世界に対しては我々は本来なんだってできる．
    やっちゃだめなことも，いかれたことも，変なことも，世界においてそんなものはない．
    すべては許されている．このことはchapter0に十分書いたと思うので繰り返さない．
    
    
    教育においても，世界を知るという純粋な知的行為と，倫理的判断などの人間的な部分を，
    分離できるところは分離したほうが良いと思うが，そう思っている人はあまりいないのかもしれない．

    以上から，教育はシグナリングと倫理と混在することで，<strong>ヒト的な目的</strong>(👈これが混在により制限されることが本質的だな)のために世界を知るということができなくなっている．
    そこで，教育とは離れてこの本を書くことにする．
    この本は，シグナリングとも倫理とも距離をおき，純粋に欲望の実現のために書かれている．
    
{% endsection%}


{% section "","どうして教科書・参考書はつまらないのか",""%}
二流の分析哲学者になってはいけない　明晰さは手段であって本質は心の揺さぶり
明晰さの唯一の欠点は十分に明晰に語ればほとんどすべてのことが間違っていることだ．
だから曖昧に誰にも反駁されないか，明晰に誤るかどちらかなのだ．後者をもちろん選ぼう．しかし，何度も言うように，心の揺さぶりがなくてはいけない．

{% endsection%}