---
layout: layouts/chapter.njk
Subdivision: Temp
Title: テンプレート集
---


<blockquote class="lg:py-36 pt-16 pb-36">
        <div class="italic pb-4">
            <p>
            Logic is the anatomy of thought.
            </p>
            <p>
            論理は思考の解剖学である．
            </p>
        </div>
        <div>
        <footer class="text-right text-sm pb-1">
            -John Locke
        </footer>  
        <footer class="text-right text-xs">
            -ジョン・ロック
        </footer> 
        </div>
</blockquote>


{# sectionの場合#}
{% section "","1|健全な論証が正しい知識を導くこと" %}
    <div class="lg:mt-4 mt-2">
        ほげほげお
    </div>
    {% subsection "","1.1|3つの例を使うことで効率よく命題の真偽を判定することができる","1|健全な論証が正しい知識を導くこと" %}
    <div class="lg:mt-4 mt-2">
        こんにちは
    </div>
    {% endsubsection %}

{% endsection%}


{# sectionでない場合 #}
{% section "","本文の読み方と理解の方法",""%}
<div class="lg:mt-4 mt-2">
    
</div>
    {% subsection "","3つの例を使うことで効率よく命題の真偽を判定することができる","健全な論証が正しい知識を導くこと","" %}
    <div class="lg:mt-4 mt-2">
        こんにちは
    </div>
    {% endsubsection %}
{% endsection%}



{% section "","1|健全な論証が正しい知識を導くこと" %}
    <div class="lg:mt-4 mt-2">
        ほげほげお
    </div>


    <div class="marginnote img-holder">
        <img src="/img/invite.png" alt="" srcset="">
    </div>
    <div class="ContentOver">
        <img src="/img/invite.png" alt="" srcset="">
    </div>

    {% subsection "","1.1|3つの例を使うことで効率よく命題の真偽を判定することができる","1|健全な論証が正しい知識を導くこと" %}
    <div class="lg:mt-4 mt-2">
        こんにちは
    </div>
    {% endsubsection %}


    {% subsection "","1.2|こんにちは　今日はどんなことをしましょうか","1|健全な論証が正しい知識を導くこと"%}
    <div class="lg:mt-4 mt-2">
        こんにちは
        {# もともとのiframeのwidth heightを消して，これで正しいaspectのままfull widthにする#}
        <div style="position:relative;padding-top:56.25%;">
        youtubeの埋め込み
            <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;"  src="https://www.youtube.com/embed/b3K3ILdBmSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
        
    <div class="lg:mt-4 mt-2">
        インラインの数式と，\(y = x\)<br>
        改行してからの数式
        $$ y = x $$
    </div>

    <div class="lg:mt-4 mt-2">
        <span class="text-2xl">これは本当に哀しいことである．</span>というのも，実際にそれをやってみたかどうかと結果は正しく相関していないことが明らかだからだ．
        <span class="font-bold text-red-600">これは実際には，かなり怪しい議論である</span>ことに注意．

        <div class="definition">
            文が正しい場合，<strong>真</strong>であるといい，文が誤っている場合，<strong>偽</strong>であるという．
        </div>

{# 行を空けて開始すると表示がおかしくなる　変数が色付けされないのは仕様らしい　max-w-[88vw]は試行錯誤の結果 ContentOverで表示する場合はこれで，しない場合は簡単．#}
<div class="max-lg:max-w-[88vw] ContentOver lg:pr-20 ">
{% highlight "py" %}
def bubbleSort(arr):
    n = len(arr)
    # optimize code, so if the array is already sorted, it doesn't need
    # to go through the entire process
    swapped = False
    # Traverse through all array elements
    for i in range(n-1):
        # range(n) also work but outer loop will
        # repeat one time more than needed.
        # Last i elements are already in place
        for j in range(0, n-i-1):
 
            # traverse the array from 0 to n-i-1
            # Swap if the element found is greater
            # than the next element
            if arr[j] > arr[j + 1]:
                swapped = True
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
         
        if not swapped:
            # if we haven't needed to make a single swap, we
            # can just exit the main loop.
            return
 
 
# Driver code to test above
arr = [64, 34, 25, 12, 22, 11, 90]
 
bubbleSort(arr)
 
print("Sorted array is:")
for i in range(len(arr)):
    print("% d" % arr[i], end=" ")
{% endhighlight %}
</div>
</div>
    
    {% endsubsection %}

{% endsection %}

{# ブログなどでsection numberをつけたくない場合 #}
{% section "","健全な論証が正しい知識を導くこと" , "" %}

{% subsection "","3つの例を使うことで効率よく命題の真偽を判定することができる","健全な論証が正しい知識を導くこと" , "" %}
<div class="lg:mt-4 mt-2">
    こんにちは
</div>
{% endsubsection %}

{% endsection %}