---
layout: layouts/chapter.njk
Subdivision: Tips
Title: 「方法論」と「読み方」
permalink: /tips_archive/
Previous: /chapter0/
Next: /
tags: post
---




{# 例示　定義(原理，定理，公理なんでも)　場合分け　問題　 #}



    {% section "1",'「方法論」と「読み方」の定義',""%}
    <div class="lg:mt-4 mt-2 ">
        <p>
            Chapter0でガイドの目的を理解したところで，ここではガイドの読み方を理解しましょう．
            すなわち，ガイドに書かれたことを正しく理解するためにはどうしたらいいかという話をします．
        </p>

        <p>
            これは「ガイドに書かれたこと」とは何なのか，から導き出すことができます．
        </p>

        <p>そこで，理解をするための5つの原理と，それをガイドで実践する方法を見ていくことにしましょう．</p>
    </div>
    {% endsection%}

    {% section "1",'「方法論」と「読み方」の定義',""%}  

        「ガイドに書かれたこと」とは世界をコントロールする方法ではないのか，と思ったヒトは大正解です．
        ですが，ここでは，世界をコントロールする方法がもっと一般的にどんな種類の知識なのかを考えたいのです．

        結論から言うと，それは宣言的知識であるということになります．

        宣言的知識とは，AはBであるとか，もしAならばBであるとか，そういう文のことです．
        例えば「鉄は水よりも密度が大きい」とか「もし雨が降るならば地面が濡れる」とかです．
        このような知識の重要な特徴は，明晰に言語化できれば，必ず理解・検証・実行ができるということです．

        このことは，それが当てはまらないものをいくつかみることで意味するところが明確になるでしょう．
        そこで宣言的知識でないものをいくつか挙げます．

        <div>
            例1 自転車の乗り方<br>
            自転車の乗り方の方法を本で読んで，自転車を乗る時の体の動作を明晰に言語化したとしたとしましょう．
            しかし，そのとおりに体は必ずしも動かせません．
            つまり，明晰に言語化で自転車の乗り方がわかっているとは言えません．だから逆上がりは宣言的知識ではありません．
        </div>
        
        この例からわかるように，一般的に身体の動かし方は宣言的知識ではない．
        体をどう動かせばよいかを言葉で完全に表せたからといって，そのとおりに体を動かせるわけではない．
        このことは名コーチが名選手ではないことからも明らか．

        <div>
            例2 飛行機恐怖症の克服の方法<br>
            飛行機で事故にあう確率は車よりもずっと低いことから，飛行機に乗ることを恐れる必要は全くないと言葉で表現できたからといって，飛行機に乗る恐怖をなくせるわけではない．
        </div>

        この例からわかるように，一般的に感情の制御は宣言的知識ではない．言葉によって，その感情が起きる，もしくは起きないはずだという合理的な理由を表現できたとしても，
        その感情の制御が実行可能だとは限らない．
        (このことは言葉と感情が無関係であることを意味しない．むしろ多くの場合は言葉によって感情は影響されている．しかし<strong>必ず</strong>影響されるわけではない．) 

        <div>
            例3 悟りの方法<br>
            悟っている人が，なぜそのような境地に至ったのかを完全に言語化しても，それを聞いた人が直ちに悟れるわけではない．
            この世はまやかしであると言語化した男が，美女の誘惑に耐えられないことがありうる．
        </div>

        悟りは感情ではないかもしれないが言語によってコントロールできるものでもない．
        
        これらが宣言的知識でないものの代表例であると思う．

        それでは宣言的知識について見ていこう．


        <div>
            例1 連立一次方程式の解き方<br>
            連立一次方程式を解く方法を完全に言葉に表せているのに，それでも解くことができない，ということはありえない．
            <div class="sidenote">ここでいう解くというのは，もちろん解がないと判定することも含まれる．「解くことができない」というのは，解がないことではなく，</div>
        </div>
        <div>
            例2 毎秒1000件のアクセスに耐えられるSNSのサーバーの構築の仕方<br>
            マニュアルとして構築する方法が1から100まで書かれたものがあるとしよう．
            その手順のとおりに体を動かしていくことは難しくないので，最後の手順が終わったときにはサーバーが出来上がっている．
        </div>
        <div>
            例3 石油を精製・加工してフリースを作る方法<br>
            これも例2と全く同様．
        </div>



        これらの例からわかるように，宣言的知識はマニュアルやアルゴリズムが作れ，それに従えば実行が可能なものだといえるかもしれない．
        学校で座学で学ぶことの多くは宣言的知識だし，現代文明を支えているのも宣言的知識である．
        
        我々の目的である，我々ヒトの欲望のために世界をコントロールする方法も宣言的知識である．

        そして5つの原理は宣言的知識を理解するための原理であり，それ以外のものを理解するための原理ではない．
        このように適応の限界を知っておくことは重要であある．

        
        最後に注意点をいくつか．
        宣言的知識は，明晰に言語化できれば，必ず理解・実行ができるとあるが，

        ・明晰でない言語化なら，理解・実行ができないだろう．何をいっているかわからないやつは何も理解しないし，何もできない．
        ・理解・実行ができても，明晰に言語化できるわけではない．
            例えば，連立一次方程式をドリルで練習して解けるようになったヒトであっても，
            それをパターン認識として身につけただけであり，言語化できているとは限らない．
            例えば，そのヒトに連立方程式をどうやって解くの？と聞いても明晰な言語化はできない．
            つまり，宣言的知識は言語化できていない，真の意味で理解できていなくても，実行可能な場合はある．
            しかし，世界のコントロールの方法をそのようにパターン認識により，理解するつもりはない．
            ガイドでは明晰に言語化することにより，理解実行が行えるように試みる．
            [TODO: この例として，現代文の理由を問う擬似問題]
    {% endsection%}

    {% section  "2", '原理1 第一原理はなにか',""%}

        <p>
            ガイド，ひいては何かを理解しようとするときには，色々な事項がでてきます．
            しかし，そのすべてが同じ重要さをもっているわけではありません．
            重要でない些末な部分に労力を割くことは理解のために有効な方法ではありません．
            では，何が重要で，何が重要でないかをどのように判断すれば良いのでしょう．
        </p>
        <p>
            そのための一つの方法は，伝えられることが制限されたときに，何を伝えるか，を考えることです．
            例えば，「明日，現代文明が崩壊します．生き残った人類に140文字だけ現代知識を残せます．どんな文を残しますか？」
            という状況を考えてみましょう．
            このような伝えられる文字数は非常に制限されているなかで，伝えることに決めたことが最も重要なことでしょう．
            {% sidenote %}
            この例が，面白くなければ，好きな人に思いを伝えるために5秒だけ話せるチャンスがある，という状況を考えましょう．
            そのときに言うべきことは，なぜ好きか，とかどんなところが好きか，とかではないことは明らかです．
            {% endsidenote %}

            では，何を伝えたいと思うでしょうか．
            伝えた140文字から，現代人類が持つ知識を復元でき，そこから文明を復活できるようなことを伝えたいと思うでしょう．
            例えば，　ということ．
            ここから　ということを推論できますし，　ということを説明できますし，　と推測できます(そしてこれは正しいです)
            このように，たった140文字でも有効に使えれば，未来の人類が頭を使って，有用な知識を導いてくれるでしょう．
        </p>
        <p>
            導けることの量で重要性が決まるわけではないことに注意しましょう．
            導けることに意義があることこそが，重要性の根拠なのです．
            つまり，この例では，文明復興するために役立つことをより多く導けるほど重要となるのであって，
            それとは関係ないことがたくさん導けても，それは重要とは言えません．
            そんなことは導けても，「だから何？」といわれてしまうからです．
        </p>
        <p>
            このことは，我々が普通の状況で何かを理解するときにも同じです．
            AはBから導け，BはCから導け，DもCから導けるとしましょう．
            [image: 導ける図]
            このとき，AやDが意義を持つ，
            {% sidenote %}
            意義は文脈によって異なります．
            例えばガイドで言えば，我々の欲望をみたすために役立つようなことが意義あることです．
            これは我々のモチベーションの第一原理になっていることです．
            詳しくは原理2を参照．
            {% endsidenote %}
            のであれば，Cは，4つのなかで最も重要なことです．
        </p>
        <p>
            しかし，このような，これはこれから導ける，という作業は永久には続けられません．
            いつかは，他の何事からも導けないものを定める必要があります．
            これを第一原理と呼ぶことにしましょう．
            すなわち，第一原理は，他のものから自身を導くことができず，自身からは意義のある知識をいろいろと導くことができるものです．
        </p>
        <p>
            第一原理は，未来の人類に伝える宝となる知識です．
            我々が理解するときにも，同じようにまずは第一原理の把握と理解を最優先したいところです．
            その他の事項は，頭を使えばそこから導けるのですから．
        </p>
        <p>
            もっと一般的には，第一原理でない事項についても，より豊富な知識が導ける事項が重要なわけですから，
            すべての事項について重要度を意識し，理解のためにつかう労力や時間などのリソースをうまく配分できるとよいでしょう．
        </p>

        <p>
            ガイドでは第一原理は単に原理と呼ばれることが多いです．
            例えば，ここで紹介している理解のための5つの原理は，すべて理解のための第一原理であると捉えてください．
            そのため，この5つの原理さえ理解すれば，「あなたが知っておくべき37の本の読み方」とか「2022年度最新の勉強法5選」みたいなものを読む必要はありません．
            それらは仮に正当なものならば，ここで紹介する5つの原理から導けるからです．
        </p>
        <p>
            ガイドでは，何が第一原理であるか，できる限り明記しています．
            だから，これが原理であると明記されたときには，何を差し置いても，それを理解し，記憶に留めてください．
            [image: 第一原理を火事になったときにもって逃げる図]
        </p>

        <p>
            ガイドでは，いかにして第一原理を打ち立てるか，第一原理からどんな結果が導けるか，など導きの関係を明確に書いています．
            事項を単に列挙するというふうな書き方はしていません．
            読むときにも，何から何が導かれているのか，その際の議論を理解するようにしてください．
        </p>

    {% endsection%}

    {% section "3", '原理2 モチベーションは何か',""%}

        <p>
            ガイド，ひいては何かを理解しようと思うためにはモチベーションが必要です．
            「なぜそれを知ろうと思うの？」「なぜそれを知らなければいけないの？」という問いに答えられないまま，理解しようとすることは苦痛です．
        </p>

        <p>
            動機には，理解することそれ自体がモチベーションとなっている場合と，理解することによる何らかの帰結がモチベーションとなっている場合があります．
            前者の代表例として，それを知ることが面白いから，後者の普及例として，それを学べば将来の就職活動で有利だから，というものがあります．
        </p>
        
        <p>
            残念ながら，前者のタイプの動機は一般的に他者と共有可能ではありません．
            サッカーをすることそれ自体が面白くてたまらないと，思う人も思わない人もいるように，
            数学の諸定理を知ることそれ自体が面白いと思う人も思わない人もいます．
        </p>


        <p>
            そこでガイドでは後者の，理解することによる帰結をモチベーションとしています．
            具体的には，chapter0で述べたように，ガイドにおける我々のモチベーションの第一原理は「我々ヒトの欲望のために」です．

        </p>    
        <p>
            すべてのモチベーション，例えば「快適な温度の場所で過ごしたい」とか「お金を稼ぎたい」とかはここから推論されることです．
            そして，それらの欲望を実現するために，世界をコントロールする方法，例えば「エアコンを作る方法」とか「株で儲ける方法」などを学ぶのです．
            常にモチベーションは明記されるので，そのモチベーションさえ共有できたなら，何のためにこんなことやってるんだろう，とはならないはずです．
        {% sidenote %}
        モチベーションがわからないときに，将来のために，のような明晰でない回答でごまかしたり，就職活動のために，のようなヒト的でない回答で納得しようとするのは
        それ以上に哀しいことかもしれない．
        {% endsidenote %}
        </p>   


        <p>
            また，ガイドでは，概念や法則の歴史的な文脈も重視しています．
            だれが・どのように・なぜ発見・発明したのか，そのときにどんな実験・議論があったのか，人類の発展にどんな意義があったのか，などを
            できるだけ入れ，その面からもモチベーションが得られるようにしています．
        </p>

    {% endsection%}

    {% section  "4", '原理3 階層構造のどこにいて，どんな役割を果たしているか',""%}
        
        ガイドにおける，chapterの文章構造を例に，階層構造とはなにか，それを意識することはどう役立つのかを話しましょう．
        chapter0を実例にすると，chapter0は2つのsectionにわかれ，2つのsectionはそれぞれの4つと5つのsubsectionに分かれています．
        
        [image]

        このような構造のことを階層構造(hierarchical architecture)と呼ぶことにしましょう．
        chapterが文章構造の頂点にあり，その次がsection，その次がsubsectionというふうに，階層を下っていくことができます．

        このような階層構造は，例えばコンピュータのフォルダ構造
        [image:フォルダ構造]
        もしくは，生物の分類にも現れる普遍的な構造の1つです．

        どうしてこのような構造が生まれるのかと言えば，1つのものを分割して理解したり，逆に多数のものをグループとして理解することが，
        理解の本質的な仕方の1つだからです．

        例えば，chapter0でもやったように，1つの文がいくつかの部分で構成されていることから，1つの文を区切って，
        それぞれの部分を理解するというやり方があります．
        [image:　chapter０のくぎりかた]
        一般的には，難しい問題をいくつかの部分に分け，その部分問題を解決することで，もとの難しい問題を解決することは分割統治と呼ばれます．
        問題を概念，解決を理解に置き換えれば，これはchapter0でやったことと同じです．
        分割した問題をさらに分割して解決するという方法をとっていけば，自然に何層もの階層構造が生まれていきます．

        もしくは，ヒト・チンパンジー・ボノボ・ゴリラ・オラウータンなどの動物が同じヒト科というグループに属すると理解することで，
        これらをヒト科の動物というものにまとめて理解することができました．
        [image : ヒト科]
        単に，事項を横並びに羅列するのではなく，それらから概念を抽出することで，自然に階層構造が生まれます．
        [image : さらなる延長]


        このような一般性への志向は我々の言葉の中に含まれています．
        そもそも，個別の事物ではなく，犬と語れること自体が，犬という概念の抽出を必要としています．
        このように抽出した概念のことを上位概念と呼ぶことにしましょう．
        犬からさらに，哺乳類・脊椎動物・真核生物と上位概念を抽出でき，これにより自然に階層構造が生まれます．
        [image : さらなる延長]
        
        このように，分割も統合も，両方理解のための第一原理であり，その結果が階層構造なのです．
        逆に，例えば文章が階層構造として与えられていることの意味は，そのように文章内容が分割・統合していることを意味しているのです．
        だからこそ，理解のためには階層構造がどうなっているか，ひいては，どのように事物は分割でき，統合できるのかを把握しなくてはなりません．
        

        つぎに，ガイドにおける階層構造の活用です．
        先に述べたように，ガイドの文章は，チャプター，セクション，サブセクションと区分けされますが，
        
        1つの区分けでは，1つのことについてのみ書く
        1つの区分けの内容の要約を，タイトル文とする．

        というルールで区分けのタイトルと内容は決められています．
        
        chapter0を例にこれを説明します．

        まず，1についてから．
        例えば，chapter0の内容は，ガイドの目的についてです．これ以外のこと，例えばガイドの理解の仕方は，chapter0ではなく，ここで述べられています．
        同様に，section1の内容は　についてで，これ以外のことは述べられていません．
        このように，chapter,section,subsectionのどの区分けであっても，1つの区分けでやることは1つなのです．

        次に2について．
        例えば，chapter0の内容は，タイトルの通り　ということです．このタイトルが意味するところを完全に理解できたら，chapter0の理解は完璧です．
        section1についても同様で，タイトルの「」が意味することを完全に理解できたら，section1の理解は完璧なのです．

        このように決めることで，今自分が読んでいるところが，何のために書かれている部分なのか，すぐに分かります．
        
        というのも，例えば，この文を読んでいるとしましょう．
        この文は，subsection にあることから，　を理解するために存在する文であることがわかります．
        もし，subsectionのタイトルが「と　について」のようなものなら，どちらを理解するための文なのかわかりませんが，ルール1から，1つのことについてのみ書くので，
        そのようなタイトルになることはありません．

        そして，subsection自体はsection にありますから，　もっと広くは　を理解するために存在します．
        さらに，section はchapter0にありますから，　さらにいえば，　を理解するために存在するのです．

        
        そして，一般には，なぜchapterの内容を理解するのかと言えば，それは「ヒトの欲望を実現するための世界をコントロール方法」を学ぶためです．
        (chapter0は例外で，ここではこの目的の意味を学ぶというメタなことのために)
        このように，階層構造が把握できれば，何の理解のために必要な文なのか，どういうモチベーションのためにやっているのかを見失うこともありません．
        読むときには，文が，階層構造のどこにあって，文が果たしている役割が何なのかを明確にするようにしましょう．
        
        また，chapter0にはchapter単位とsection単位でまとめを書いていますが，
        このまとめがほとんど，下位区分けをリライトしたものであることも必然的な結果です．
        つまり，chapter0のまとめはsection1,2のタイトルにとても似ていますし，
        section1のまとめはsubsection1.1~1.xのタイトルと非常に似ています．
        これはchapterやsectionをそれぞれsection,subsectionに分割して理解しようと試みていて，
        それぞれのsection,subsectionで扱う内容は1つであり，それらはタイトルに示されていて，
        それらを合わせると，もとのchapter,sectionの取り扱う1つの内容に一致することから，
        sectionタイトルを合わせればchapterのタイトル，ひいてはchapterの内容がわかり，
        subsectionタイトルを合わせれば，sectionのタイトル，ひいてはsectionの内容がわかるわけです．

    {% endsection%}

    {% section "5", '原理4 明晰に表されているか',""%}

        明晰さとは何でしょうか．
        それは何を意味しているかがわかる，ひいては正しいか誤っているかのか白黒つけられることです．

        例えばchapter0にでてきた，欲望を望ましい世界についての文に変換するというプロセスを見てみましょう．
        「適切な気温で暮らす」という欲望は明晰ではありません．
        まず，それが何を意味しているのかわかりません．例えば適切な気温とは何度か？がわかりません．
        このせいで，この欲望が達成されているのか，されていないのか，白黒つけられません．
        例えば27度の場所で1日中過ごすことになったときに，「適切な気温で暮らす」という欲望は叶えられたといえるか，わかりません．

        白黒つけられないことは何が困るのでしょうか．
        それは，向かうべきものがわからなくなるということでもありますし，適切なフィードバックを行えないということでもあります．
        つまり，何度を目指すべきなのかわからないですし，ある気温を実現できても，適切な気温にするためには，もっと下げるのか，そのままでいいのか，もっと上げるのか，
        何をすればいいのかが全くわからりません．

        このように，明晰でなければ，適切にアクションを起こすことができず，改善はありません．

        世界のコントロールの方法を学ぶときも同様です．
        例えば，「」という知識は，明晰ではありません．
        とも捉えられますし，とも捉えられます．
        つまり，意味するところがはっきりせず，それゆえに，正しいか誤っているかの白黒をつけることができません．
        であれば，この知識は修正すべきなのか，修正するならどこをどう修正するのか，適切なアクションを取れません．
        知識を改善するための適切なフィードバックはとれないので，成長もありません．

        逆に明晰であれば，正しいのか正しくないのか，望ましいのか望ましくないのか，がはっきりとわかります．
        正しいならそれでよいですし，正しくないのなら，そこを修正すれば良いのです．
        つまり，適切にアクションを起こすことができるので，改善・成長することができます．

        つまり，明晰であれば，正しかろうが間違っていようが，良くなり続けるほかありません．
        明晰でなければ，正しいとも間違っているともいえないので，そこにはなにもありません．よって成長もありません．

        明晰さがないことに気づかずに自分が何事かを述べていると思ってしまうことが最も危険なことです．
        例えば，「人間の本質は愚かさだ」という発言は，それだけで他に続く言葉がないのなら，何も述べていません．
        何をいっているのか意味不明だからです．ただ，我々に諸々の感情を引き起こしたり，なにか主張があるように感じさせる効果があるので，
        自分でも何かを言っていると思ってしまいます．しかしそこに知的成長はありません．
        このような良い響きの曖昧な言葉に自分自身で惑わされないようにしましょう．
        標語的に言えば，曖昧な気持ちよさよりも明晰な間違いを求めるのです．

        ガイドでは曖昧な言葉づかいはしません．
        それが何を意味しているのかはっきりそのために，
            定義をはっきりさせること．
                語の定義が分からなければ文の意味を明晰にすることは不可能だからです．逆に語の定義は必ず押さえるようにしてください．
            平易な，しかし適切な語彙を用いること．
            文の構造をシンプルに，短くすること．
            ambiguityのない表現を使うこと．
                生じそうなときは指示語を避けること．だから冗長な表現になってしまうこともあるが，そのような冗長な表現に苛立った時には，
                これを指示語で置き換えたらどのようなambuguityで困るかを考えてみてほしい．
            
        明晰にすること=思考のプロセスがはっきりわかる(論理の明晰化)
            原理から論理的に諸々の主張を導くこと
            例えばそのモデルの仮定はなにか
            場合分け，例示を十分に使うこと．特に視覚化．
            repetitionを恐れない．なんどでも同じことを言うし，前に書いたことでも反復して書く．基本的には「どこどこを見よ」というような書き方はしない．
            これは厳密には明晰さではないが(何も情報量は増えていないので)，我々ものぐさなヒトが戻らずに読み進めていっても，明晰さを失わないための方法である
            本論と外れるところは脚注に書くようにした．脚注は全て読み飛ばしても論理を理解する上で問題がないように書かれているし，*の印がついた項については難しいことを難しいまま書いている
            疑問に思ったときだけ脚注を見るようにし，基本は読み飛ばしていい．
        明晰にすること=
        を意識して書かれている．"ガイド"を考えながら読むときにも，これらを意識して思考に明晰さを失わないようにしよう．
        そうすれば，正しい理解に必ずたどり着く．明晰さがなければ，正しい理解はないし，間違った理解もない．ただなにもないのである．

        (もちろん明晰さは理解において必須であるが，その他の言語活動(商品の宣伝，大衆の煽動，愛のささやきなど)においては必須ではないし，重要でもないかもしれない)


    {% endsection%}

    {%  section "6", '原理5 直観的理解は得られているのか',""%}
        モチベーションを達成するのに，必要な世界理解を第一原理から明晰に導くことができたとしても，まだ十分ではない．
        少なくともそのように感じることがあるだろう．「わかるけど，なんだか，しっくりこない」と．
        その世界理解が直観的に明らかであると思えなければならない．
        
        「しっくりくる」「なんだ，当たり前じゃん」という感覚を持てないうちは理解したということはできないと思う．

        "ガイド"では直観的理解が得られるように
        具体例・アナロジー
            抽象的な定義は，明晰であっても直観的理解が伴わない場合がある．具体化することで，直観的理解が得られる．
            しかし，具体例だけでは明晰にはならない．つまり一般的な場合について述べた定義をおさえることも必須である．
        複数の観点からの説明
            例えば，水は蒸発する時に周りから熱を奪うが，それは経験的にも明らかだし，温度が分子運動論からも明らかだし，水素結合が切れるという観点からも明らかである．
        視覚化
            世界について学ぶのだが，世界は目で見える形をもっている．それを見ればわかるということ．
        が利用されている．

    {% endsection%}

    {% section "19", "適応できる問題を見つけて，それを解く，",""%}
    すべてが書かれた文章から吸収したこと．
    何かを受動的に理解することと，能動的に使ってみることはだいぶ違う．
    どう応用できるのか．
    しかしいきなり見つけてみよ．は難しい．

    だから，ガイドではできるだけ我々の生存や生活や快楽に即した形の適応可能な問題を与える方針とした．

    {% endsection%}

    {% section "7","そのほか諸々の理解の方法",""%}
        ここまでで理解の第一原理について述べた．
        ここではこれらの第一原理から導かれる，理解のための諸々のtipsについて述べる．
        
        ・理解ができないときには，とりあえず先に読み進めよう

        しかし"ガイド"においては，そのようによくわからないまま先を読んでいって，ようやくモチベーションや全体の構造が明らかになって，
        わかるようになる，というような体験をあえてしてもらうまでもないと考えて，順番に読んでいけば，最初にモチベーションや全体の構造が述べられて，そこから細部に入っていくような
        構成をほとんどのチャプターでとっている．

        ・考えながら読もう
        
        というアドバイス(明晰でないので何もいっていないに等しい．真の意味で考えないで読めるヒトは存在しないだろう)の意味は，
        好意的に解釈すれば，結局原理がどうかを考えるのである．
        というのも多くの文章では，原理的なことが明記されないままのことが多いからである．
        例えば，の本を読んでも，という根本的な問いは書かれていないことが多い．
        この意味で"考える"手間は"ガイド"では省いてある．が一般的な意味で，
        例えば論理的に思考したり，という意味で考える必要があるのは変わらない．

        ・一通り読んだ後に書いてあった内容を再構成してみよう/誰かに読んだことを説明してみよう

        再構成とか説明というときには，自分が書いて，誰かに読ませることになる．
        このときに，なぜそれを読む必要があるのか，もっとも重要な部分はなにか，なぜそれがいえるのか，とか，文章をただの事実の羅列ではなく，構造をもったものにしようとか，
        もろもろを自分で実践することになる．
        誰かというのは自分自身で良い．べつに仲間とのコミュニケーションは理解のために必要ではない．発想のためにはもちろん役立つだろう．







    {% endsection%}

    {%  section "7", '宣言的知識が対象',""%}

        ここまで，理解のための5つの原理について述べてきたが，そもそも何を理解するための原理なのかを再確認しておこう．
        何とは，世界をコントロールする方法ではないのか，と思ったヒトは大正解ですが，
        さらに，世界をコントロールする方法が一般的にどんな種類の知識なのかを説明したいのです．
        言い換えれば，世界をコントロールする方法の上位概念を確認したいということです．
        結論から言うと，それは宣言的知識であるということになります．

        宣言的知識とは，AはBであるとかAならばBであるとか，そういう文のことで，原理1で出てきた命題といってもいいでしょう．
        このような知識の重要な特徴は，明晰に言語化できれば，必ず理解・実行ができるということです．

        このことは，それが当てはまらないものをいくつかみることで意味するところが明確になるでしょう．
        そこで宣言的知識でないものをいくつか挙げます．

        <div>
            例1 自転車の乗り方<br>
            自転車の乗り方の方法を本で読んで，自転車を乗る時の体の動作を明晰に言語化したとしても，
            そのとおりに体は必ずしも動かせないので，自転車の乗り方がわかっているとは言えません．だから逆上がりは宣言的知識ではありません．
        </div>
        
        この例からわかるように，一般的に身体の動かし方は宣言的知識ではない．
        体をどう動かせばよいかを言葉で完全に表せたからといって，そのとおりに体を動かせるわけではない．
        このことは名コーチが名選手ではないことからも明らか．

        <div>
            例2 飛行機恐怖症の克服の方法<br>
            飛行機で事故にあう確率は車よりもずっと低いことから，飛行機に乗ることを恐れる必要は全くないと言葉で表現できたからといって，飛行機に乗る恐怖をなくせるわけではない．
        </div>

        この例からわかるように，一般的に感情の制御は宣言的知識ではない．言葉によって，その感情が起きる，もしくは起きないはずだという合理的な理由を表現できたとしても，
        その感情の制御が実行可能だとは限らない．
        (このことは言葉と感情が無関係であることを意味しない．むしろ多くの場合は言葉によって感情は影響されている．しかし<strong>必ず</strong>影響されるわけではない．) 

        <div>
            例3 悟りの方法<br>
            悟っている人が，なぜそのような境地に至ったのかを完全に言語化しても，それを聞いた人が直ちに悟れるわけではない．
            この世はまやかしであると言語化した男が，美女の誘惑に耐えられないことがありうる．
        </div>

        悟りは感情ではないかもしれないが言語によってコントロールできるものでもない．
        
        これらが宣言的知識でないものの代表例であると思う．

        それでは宣言的知識について見ていこう．


        <div>
            例1 連立一次方程式の解き方<br>
            連立一次方程式を解く方法を完全に言葉に表せているのに，それでも解くことができない，ということはありえない．
            <div class="sidenote">ここでいう解くというのは，もちろん解がないと判定することも含まれる．「解くことができない」というのは，解がないことではなく，</div>
        </div>
        <div>
            例2 毎秒1000件のアクセスに耐えられるSNSのサーバーの構築の仕方<br>
            マニュアルとして構築する方法が1から100まで書かれたものがあるとしよう．
            その手順のとおりに体を動かしていくことは難しくないので，最後の手順が終わったときにはサーバーが出来上がっている．
        </div>
        <div>
            例3 石油を精製・加工してフリースを作る方法<br>
            これも例2と全く同様．
        </div>



        これらの例からわかるように，宣言的知識はマニュアルやアルゴリズムが作れ，それに従えば実行が可能なものだといえるかもしれない．
        学校で座学で学ぶことの多くは宣言的知識だし，現代文明を支えているのも宣言的知識である．
        
        我々の目的である，我々ヒトの欲望のために世界をコントロールする方法も宣言的知識である．

        そして5つの原理は宣言的知識を理解するための原理であり，それ以外のものを理解するための原理ではない．
        このように適応の限界を知っておくことは重要であある．

        
        最後に注意点をいくつか．
        宣言的知識は，明晰に言語化できれば，必ず理解・実行ができるとあるが，

        ・明晰でない言語化なら，理解・実行ができないだろう．何をいっているかわからないやつは何も理解しないし，何もできない．
        ・理解・実行ができても，明晰に言語化できるわけではない．
            例えば，連立一次方程式をドリルで練習して解けるようになったヒトであっても，
            それをパターン認識として身につけただけであり，言語化できているとは限らない．
            例えば，そのヒトに連立方程式をどうやって解くの？と聞いても明晰な言語化はできない．
            つまり，宣言的知識は言語化できていない，真の意味で理解できていなくても，実行可能な場合はある．
            しかし，世界のコントロールの方法をそのようにパターン認識により，理解するつもりはない．
            ガイドでは明晰に言語化することにより，理解実行が行えるように試みる．
            [TODO: この例として，現代文の理由を問う擬似問題]


    {% endsection%}


    
    {% section "11", "Q&A",""%}
    ・5つの第一原理のうち，どれが最も重要なのでしょうか
    どれも重要で順位はない．
    原理5 直観的理解の冒頭で述べたとおり，原理1~4が満たされていても，原理5が満たされなければ理解したといえない状況がありうる．
    ほかの原理についても同じで，どれか1つでも欠ければ，理解したとは言えなくなってしまうので，順位はつけることはできない．
    
    第一原理はその定義から他のものから推論することができず，重要度の定義として注で記したものを使うことにしても，
    第一原理に重要度の優劣がつけられないのは明らかだろう．

    {% endsection %}